<html>
  <head>
    <title>The Tally</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%= yield %>

    <div id="footer">
      <p class="left">
        <a href="https://github.com/jamtur01/tally">Tally <%= Tally::Version::VERSION %></a>
      </p>
      <span class="right">
        <a id="top" href="#">&#9650; Top</a>
      </span>
      <div class="clear_both">
      </div>
    </div>

  </body>
</html>
