<form action="/tally/submit" method="post" accept-charset="utf-8">

  <p>
  <label for="text_input">User name</label>
  <input type="text" name="user" id="user"/>
  </p>

  <p>
  <label for="text_input">Ticket</label>
  <input type="text" name="ticket" id="ticket" />
  </p>

  <p>
  <input type="submit" value="Submit"/>
  </p>
</form>
