<table>
  <tr>
    <th colspan="3"><%= @title %> The Tally for <%= @user["user"] %></th>
  </tr>
  <tr>
    <td class="sh">Count</td>
  </tr>
  <tr>
    <td><%= @user["count"] %></td>
  </tr>
</table>
